{:paths #{"src/clojure"}
 :deps  {io.github.godotclj/godotclj {:git/url "https://github.com/godotclj/godotclj"
                                      :git/sha "c8590f2b00e1a2af81655b654913c39d560c89a8"}

         nrepl/nrepl       {:mvn/version "0.8.3"}
         refactor-nrepl    {:mvn/version "2.5.1"}
         cider/cider-nrepl {:mvn/version "0.26.0"}}}
