{:paths #{"src/clojure"}
 :deps  {io.github.godotclj/godotclj {:git/url "https://github.com/godotclj/godotclj"
                                      :sha     "88ba94deed9d226a61709b945a59f28ed5083d39"}

         nrepl/nrepl       {:mvn/version "0.8.3"}
         refactor-nrepl    {:mvn/version "2.5.1"}
         cider/cider-nrepl {:mvn/version "0.26.0"}}}
